
#article span.mw-editsection,
#article .metadata,
#article table:not(.wikitable),
#article .infobox,
#article .barbox,
#article .navigation-not-searchable,
#article .portal,
#article .gallery,
#article .mw-mf-image-replacement,
#article li.mw-empty-elt,
#article .noresize,
#article .mw-cite-backlink
{
    display: none!important;
}

#article .thumbinner {
    margin: 10px 0px;
}

#article .thumbimage {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#article .thumbcaption {
    font-style: italic;
    background-color: #f1f1f1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 8px;
}

#article div#toc,
#article table.vertical-navbox
{
    background-color: yellow!important;
}

.no-posts{
    text-align: center;
    margin: 80px 0px 60px 0px;
}

.main-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: orange;
    font-size: 35px!important;
}

#article .light-gray{
    color: #ccc!important;
}

#article .quotebox {
    border: 1px solid orange!important;
    border-radius: 3px;
}

#article blockquote{
    border-left-color: orange!important;
}

#article .quotebox cite {
    margin-top: 10px;
}

span.glyphicon.glyphicon-share.light-gray {
    margin-left: 4px;
    margin-right: 2px;
}

#article a{
    text-decoration: none!important;
}

#article a:hover{
    color: orange!important;
}

#article .section-heading {
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
}

#article .section-heading + div,
.mf-section-0{ 
    padding: 7px;
}

#article pre{
    border-color: orange!important;
}

#article table {
    border-collapse: collapse!important;
    width: 100%!important;
    margin: 20px auto!important;
}

#article table th a:hover{
    color: white!important;
}

#article th, td {
    text-align: left!important;
    padding: 8px!important;
}

#article tr:nth-child(even){
    background-color: #f2f2f2;
}

#article tr:hover{
    background-color: #d8d8d8!important;
}

#article th {
    background-color: orange!important;
    color: white!important;
}

#article blockquote{
    font-size: inherit!important;
}

#alert-intro{
    display: none;
}

.alert-success {
    color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
    margin: 0px auto 30px auto!important;
    width: 930px;
    border: 1px solid #bee2af!important;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
    font-weight: 600;
    font-size: 20px;
}

.alert.into a{
    font-weight: bold;
}

#article{
    word-wrap: break-word;
}

#alert-intro {
    display: block!important;
    width: 100%;
}


@media (max-width: 769px) {

    .wrap > .container {
        margin-top: 0px!important;
    }
    
    .tab-pane {
        width: 100%!important;
        padding: 0!important;
    }

    #article .thumbimage {
        width: 100%!important;
        height: auto;
    }

    #article .thumbinner{
        width: 100%!important;
    }

    #article .section-heading + div, .mf-section-0 {
        padding: 7px;
        overflow: scroll;
    }
}
