
.crossref-color{
    color: #fec52f;
}

.crossref-results .result .authors-label,
.crossref-results .result .date_time-label,
.crossref-results .result .ISBN-label,
.crossref-results .result .title{
    font-weight: bold;
}

.crossref-results .result .title{
    color: #337ab7;
}

.crossref-results .result .title a:hover{
    color: #ffa500!important;
}

.crossref-results .link{
    text-decoration: none;
}

.crossref-results .author-affiliations{
    font-style: italic;
}

.crossref-results .result {
    border: 2px solid #fec52f;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.crossref-results .result:nth-child(even) {
    background-color: rgba(243, 242, 242, 0.57);
}

.crossref-results .result:hover {
    background-color: rgba(222, 220, 220, 0.70);
}

.crossref-results {
    width: 700px;
    margin: 0px auto;
}

.crossref-results .right_arrow {
    background-image: url(images/right_circle_arrow_twitter.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    float: right;
    background-position: center;
    background-size: 60px;
    margin-right: -58px;
    margin-top: -50px;
}

@media (max-width: 768px) {

    .crossref-results {
        width: 100%;
    }

    .crossref-results .right_arrow {
        float: none!important;
        display: block!important;
        margin: 10px auto 0px auto!important;
    }
}