
/* GENERAL */

*:not(.ui-autocomplete):not(.ui-autocomplete-loading){
    transition: 0.2s;
}

.wrap > .container {
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: white;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightgrey;
}

.bolded{
    font-weight: bold;
}

body{
    cursor: default;
    background-color: #f1f1f1;
}

.footer {
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d3d3d3;
}

.titlepage {
    text-align: center;
    margin: 40px 0px 20px 0px;
    color: #4e4e4e;
}

/* MENU */

#w0 .nav > li {
    margin-right: 2px;
}

#search-box-menu {
    margin-top: 1%;
    float: left;
}

#search-box-menu input,
#search-box-menu span a{
    height: 27px!important;
    padding: 3px 12px;
}

.site-title{
    background-image: url(images/logo.png);
    width: 100px;
    background-position: center;
    background-size: 81px 26px;
    margin-top: -0.8px;
    background-repeat: no-repeat;
}

.site-title:hover{
    background-image: url(images/logo_hover.png);
}

.site-title:hover{
    color: white!important;
}

nav#w0 {
    padding: 5px 0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
    color: #ffa500;
    background-color: #ffffff;
    border-radius: 4px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse {
    background-color: rgba(125, 125, 125, 0.83);
    border: 0!important;
}

/* LOGIN */

.form-group.field-loginform-rememberme {
    margin-left: 8.5%!important;
}

.site-login{
    width: 275px;
    margin: 0 auto;
}

/* REGISTER */

.site-signup{
    width: 355px;
    margin: 0 auto;
}

/* HOME */

.site-index .intro h1{
    text-align: center;
    color: white;
}

.site-index .intro h2{
    text-align: center;
    color: white;
}

.site-index .intro p{
    text-align: justify;
}

.site-index .intro{
    margin-bottom: 30px;
}

.site-index .intro .logo{
    width: 641px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}

.onu {
    width: 45px;
    height: auto;
    max-width: 100%;
    margin-right: 5px;
    margin-top: -9px;
}

span.label.label-default.updated {
    font-size: 40%;
    vertical-align: middle;
    padding: .3em;
    background-color: orange;
    position: absolute;
    margin-left: 10px;
    line-height: 12px;
    display: inline-block;
    margin-top: 1px;
}

/* SEARCH BAR */

.ui-autocomplete-loading {
    background: white url("images/spinner.gif") right center no-repeat;
    background-size: 22px 22px!important;
}

.ui-autocomplete {
    z-index: 999999!important;
    text-align: left!important;
    background-color: #ffffff!important;
    border-radius: 4px!important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)!important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)!important;
    background-clip: padding-box!important;
    border: 0!important;
    outline:0!important;
}

.ui-autocomplete > li{
    border-radius: 4px!important;
    border: 0!important;
    outline:0!important;
}

.ui-autocomplete > li > div {
    display: block!important;
    padding: 3px 20px!important;
    clear: both!important;
    border-radius: 4px!important;
    font-weight: normal!important;
    line-height: 1.42857143!important;
    color: #333333!important;
    white-space: nowrap!important;
    border: 0!important;
    outline:0!important;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none!important;
    color: #262626!important;
    background-color: #f5f5f5!important;
    cursor: pointer!important;
    border: 0!important;
    outline:0!important;
}

.ui-helper-hidden-accessible {
    border: 0!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    border: 0!important;
    outline:0!important;
}


@media screen and (max-width: 767px) {

    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: 255px!important;
    }

    .topper_article {
        margin-top: 0!important;
    }

    .site-title{
        margin-top: 0px;
    }

    /* MENU */

    #search-box-menu {
        float: none;
        margin-left: 0%;
        width: 100%;
    }

    #search-box-menu {
        margin-top: 10px!important;
    }

    footer .container {
        background-color: #f5f5f5!important;
    }

    .form-group.field-loginform-rememberme {
        margin-left: 0%!important;
    }

    .marker {
        float: left;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #results-container {
        border-spacing: 0px!important;
        width: 100%!important;
        border-collapse: collapse!important;
    }

    .panel-footer{
        padding: 10px 3%;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus{
        border-radius: 0px;
    }

    /* LOGIN */

    .site-login{
        width: 100%;
    }

    /* REGISTER */

    .site-signup{
        width: 100%;
    }

    .card{
        margin-bottom: 15px!important;
    }
}