.wrap > .container {
    background-image: url("images/background.png");
    background-repeat: repeat-x;
}
.post-list-title{
    margin: 20px auto 30px auto;
    text-align: center;
    color: #ffa500;
}

.post-container{
    padding: 0!important;
    margin: 0!important;
    transition: 0.2s!important;
}

.post-container a{
    text-decoration: none;
    transition: 0s!important;
}

p {
    text-align: justify;
}

.post{
    padding: 10px;
    border-radius: 3px;
    line-height: 30px;
}

.post a{
    text-decoration: none;
}

.post:hover{
    background-color: rgba(239, 239, 239, 0.65);
    color: orange;
}

span.label.label-default.updated {
    font-size: 40%;
    vertical-align: middle;
    padding: .3em;
    background-color: orange;    
    position: absolute;
    margin-left: 10px;
    line-height: 12px;
    display: inline-block;
}

.updated-hover {
    background-color: #337ab7!important;
}

.post-container div.flag{
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 25px;
    display: inline-block;
    margin-right: 3px;
    margin-top: -5px;
    vertical-align: middle;
}


/* CARDS */

.site-index .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.site-index .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.site-index .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.site-index .col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.site-index .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.site-index .card-title {
    margin-bottom: 0.75rem;
    margin-top: 0px;
    color: #337ab7;
}

.site-index .card-text:last-child {
    margin-bottom: 0
}

.site-index .card:hover{
    background-color: white;
}

@media (min-width: 992px)
{
    .site-index .col-md-4 {
        width: 33.3%;
    }
}