.wrap > .container {
    background-image: url("images/background.png");
    background-repeat: repeat-x;
}
.post-list-title{
    margin: 20px auto 30px auto;
    text-align: center;
    color: #ffa500;
}

.post-container{
    padding: 0!important;
    margin: 0!important;
    transition: 0.2s!important;
}

.post-container a{
    text-decoration: none;
    transition: 0s!important;
}

p {
    text-align: justify;
}

.post{
    padding: 10px;
    border-radius: 3px;
    line-height: 30px;
}

.post a{
    text-decoration: none;
}

.post:hover{
    background-color: rgba(239, 239, 239, 0.65);
    color: orange;
}

span.label.label-default.updated {
    font-size: 40%;
    vertical-align: middle;
    padding: .3em;
    background-color: orange;    
    position: absolute;
    margin-left: 10px;
    line-height: 12px;
    display: inline-block;
}

.updated-hover {
    background-color: #337ab7!important;
}

.post-container div.flag{
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 25px;
    display: inline-block;
    margin-right: 3px;
    margin-top: -5px;
    vertical-align: middle;
}