
.search-result {
    clear: both;
    margin: 16px 0px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    height: auto;
    overflow: auto;
    cursor: pointer;
}

#results-container{
    border-spacing: 10px!important;
    width: 100%!important;
    border-collapse: inherit!important;
}

.results-for{
    margin-top: 30px;
    margin-bottom: 25px;
    float: left;
}

#results-container tr:nth-child(even) {
    background-color: rgba(243, 242, 242, 0.57);
}

.search-result:hover {
    background-color: rgba(222, 220, 220, 0.70);
}

.search-result-title {
    font-weight: bold;
    font-size: 24px;
}

.search-result-query{
    color: orange;
}

img.search-result-image {
    float: left;
    max-width: 180px;
    max-height: 130px;
    margin-right: 10px;
    border-radius: 3px;
}

img.wikipedia_logo{
    background-image: url('images/wikipedia_logo.png');    
    width: 130px!important;
    height: 125px!important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

mark {
    padding: 0;
    background: transparent;
    background: linear-gradient(to right, rgba(249, 249, 0, 0.47) 50%, transparent 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .2s ease!important;
    border-radius: 2px;
}

mark.animate {
    background-position: left bottom;
}

.marker {
    float: right;
    margin-top: 35px;
}

.marker input,
.marker label{
    cursor: pointer;
}


