
.nav.nav-tabs {
    margin-bottom: 25px;
    height: 44px;
}

.tab-pane{
    padding: 0px 15px;
}

.nav-tabs > li {
    margin-bottom: -21px;
    width: 16.6%;
    text-align: center;
}

.tab-content {
    padding: 10px 0px;
}

.corrupted-link{
    background-image: url(images/exclamation-point.png);
    width: 20px;
    height: 25px;
    background-position: center;
    background-size: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: -3px;
    vertical-align: middle;
}

.nav-tabs li a div.img{
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 25px;
    display: inline-block;
    margin-right: 3px;
    margin-top: -4px;
    vertical-align: middle;
}

.nav-tabs li.Wikipedia a div.img{
    background-image: url(images/nav-tabs/wikipedia2.png);
}

.nav-tabs li.Crossref a div.img{
    background-image: url(images/nav-tabs/crossref.png);
}

.nav-tabs li.YouTube a div.img{
    background-image: url(images/nav-tabs/youtube.png);
}

.nav-tabs li.GoogleMaps a div.img{
    background-image: url(images/nav-tabs/googlemaps.png);
}

.nav-tabs li.Twitter a div.img{
    background-image: url(images/nav-tabs/twitter.png);
}

.nav-tabs li.D3 a div.img{
    background-image: url(images/nav-tabs/grafici.png);
}

@media (max-width: 768px) {

    .nav.nav-tabs {
        height: auto;
        border: 0;
    }

    .main-title {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .nav-tabs > li > a{
        border: 1px solid #eeeeee!important;
    }

    .nav-tabs > li {
        width: 100%!important;
        margin-bottom: 0px!important;
    }

    #alert-intro {
        width: 100%!important;
    }
}