
.twitter-color{
    color: #4086cd;
}

.twitter-results .result .user{
    font-weight: bold;
}

.twitter-results .result .title{
    color: #337ab7;
}

.twitter-results .result .title a:hover{
    color: #ffa500!important;
}

.twitter-results .link{
    text-decoration: none;
}

.twitter-results .user_country{
    font-style: italic;
}

.twitter-results .result {
    border: 2px solid #4086cd;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.twitter-results .result:nth-child(even) {
    background-color: rgba(243, 242, 242, 0.57);
}

.twitter-results .result:hover {
    background-color: rgba(222, 220, 220, 0.70);
}

.twitter-results {
    width: 700px;
    margin: 0px auto;
}

.twitter-results .right_arrow {
    background-image: url(images/right_circle_arrow_twitter.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    float: right;
    background-position: center;
    background-size: 60px;
    margin-right: -58px;
    margin-top: -41px;
}

@media (max-width: 768px) {

    .twitter-results {
        width: 100%!important;
    }

    .twitter-results .right_arrow {
        float: none!important;
        display: block!important;
        margin: 10px auto 0px auto!important;
    }
}