
.embed-responsive,
.embed-responsive-16by9,
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: relative;
    float: left;
    width: 349px!important;
    border-radius: 4px!important;
    padding: 20px!important;
    height: 214px!important;
}